<!DOCTYPE html>
<html lang="en">
<head>

    <!-- Required meta tags-->
    <title>{{title}} | 2HOURS.CC</title>
    <meta name="description" content="{{description}}"/>
    <meta name="keywords" content="{{keywords}}"/>
    <meta name="author" content="2HOURS.CC"/>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no, minimal-ui">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <!--ios-->
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="apple-mobile-web-app-title" content="2HOURS.CC">
    <!-- 是否启用 WebApp 全屏模式，删除苹果默认的工具栏和菜单栏 -->
    <meta name="apple-mobile-web-app-status-bar-style" content="black"/>
    <!-- 设置苹果工具栏颜色 -->
    <meta name="format-detection" content="telephone=no, email=yes"/>
    <!-- 忽略页面中的数字识别为电话，忽略email识别 -->

    <!-- 避免IE使用兼容模式 -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- 针对手持设备优化，主要是针对一些老的不识别viewport的浏览器，比如黑莓 -->
    <meta name="HandheldFriendly" content="true">
    <!-- 微软的老式浏览器 -->
    <!-- windows phone 点击无高光 -->
    <meta name="msapplication-tap-highlight" content="no">

    <link rel="shortcut icon" type="image/ico" href="/img/t.ico"/>
    <!-- 添加 favicon icon -->

    {{{block "tag"}}}
    <!-- Path to Framework7 Library CSS, Material Theme -->
    <link rel="stylesheet" href="/css/framework7.ios.min.css">
    <!-- Path to Framework7 color related styles, Material Theme -->
    <link rel="stylesheet" href="/css/framework7.ios.colors.min.css">

    <!-- Path to your custom app styles-->
    <link rel="stylesheet" href="/build/css/app.min.34889092.css">
    {{{block "css"}}}


    <style>
      a.personLogo{
           display:inline-block;
           width:30px;
           height:30px;  
           overflow: hidden;
      }
      a.personLogo img{
        display: inline-block;
        width:100%;
        height:100%;
        border-radius: 100%;

      }
    </style>
</head>
<body>

    <!-- Status bar overlay for full screen mode (PhoneGap) -->
    <div class="statusbar-overlay"></div>
    <!-- Panels overlay-->
    <div class="panel-overlay"></div>
    {{> modals/panel}}
    <!-- Left panel with reveal effect-->
    <!-- Left Panel with Reveal effect -->
    {{!--<div class="panel panel-left panel-reveal">
        <div class="content-block">
        <p>Left Panel content here</p>
        <!-- Click on link with "close-panel" class will close panel -->
        <p><a href="#" class="close-panel">Close me</a></p>
        <!-- Click on link with "open-panel" and data-panel="right" attribute will open Right panel -->
        <p><a href="#" data-panel="right" class="open-panel">Open Right Panel</a></p>
        </div>
    </div>--}}

    {{> general/message}}
    {{{body}}}

    
    
    <!-- Path to Framework7 Library JS-->
    <script type="text/javascript" src="/js/framework7.min.js"></script>
    <!-- Path to your app .js -->
    <script src="/build/js/app.min.d6690780.js"></script>

    {{{block "js"}}} <!--for hbs custom style-->

</body>
</html>